@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// Set your brand colors
$lime-green: #31cb00;
$green: #119822;
$olive-green: #2a7221;
$dark-green: #1e441e;
$darker-dark-green: #152614;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$primary: $green;
$link: $lime-green;

@import "../node_modules/bulma/bulma.sass";

@media screen and (min-width: 768px) {
  .login-page {
    padding: 7rem 0;
  }
  .card.login {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 12rem;*/
  }
}

#sidebar-menu {
  display: none;
}
#sidebar-menu.is-active {
  display: block;
  transition: display 1s ease-out;
}

/*html,
body,
#app {
  height: 100%;
}
#app {
  min-height: 100%;
}
.footer-bar {
  margin-top: -12px;
}*/
